@mixin inputContainer {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 1rem;
  margin-top: 10px;

  input {
    background-color: transparent;
    border: 0;
    outline: none;
    color: var(--white);
    width: 100%;
  }
}

.defaultContainer {
  @include inputContainer();
  border-color: var(--blue-700);

  svg {
    color: var(--blue-700);
  }
}

.errorContainer {
  @include inputContainer();
  border-color: var(--yellow-500);

  svg {
    color: var(--yellow-500);
  }
}

.noErrorMessage {
  display: inline-block;
}

.withErrorMessage {
  color: var(--yellow-500);
}
