@mixin textAreaContainer {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
  gap: 0.6rem;
  padding: 1rem;
  margin-top: 10px;

  textarea {
    background-color: transparent;
    border: 0;
    outline: none;
    color: var(--white);
    resize: none;
    flex-grow: 1;
    height: 150px;
  }
}

.defaultContainer {
  @include textAreaContainer();
  border-color: var(--blue-700);

  svg {
    color: var(--blue-700);
  }
}

.errorContainer {
  @include textAreaContainer();
  border-color: var(--yellow-500);

  svg {
    color: var(--yellow-500);
  }
}

.noErrorMessage {
  display: inline-block;
}

.withErrorMessage {
  color: var(--yellow-500);
}
