* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #f6f6f6; // Text
  --gray-100: #afafaf;
  --gray-200: #525252; //Divisor
  --gray-700: #15171b; // Bg Body
  --gray-900: #111113; // Bg Header
  --blue-700: #4f91f9; // CTA - Buttons
  --yellow-500: #ffbe16; // Warning
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; // 15px
  }
}

@media (max-width: 720) {
  html {
    font-size: 87.5%; // 14px
  }
}

body {
  background-color: var(--gray-700);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}
