.container {
  padding: 1.5rem;
  padding-top: 6rem;
  color: var(--white);

  h1,
  h2 {
    color: var(--blue-700);
  }

  h2,
  h3 {
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.6rem;
  }
}

.content {
  max-width: 1120px;
  margin: 0 auto;
}

.section {
  padding: 2rem 0;
}

.divisor {
  border-color: var(--gray-200);
  margin: 2.5rem 0;
}

.intro {
  max-width: 600px;
  margin: 0 auto;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    line-height: 180%;
  }

  div {
    margin-top: 2rem;

    a + a {
      display: block;
      margin-top: 1rem;
    }

    button {
      width: 100%;
    }
  }
}

.introFigure {
  display: none;
}

.about {
  text-align: center;

  p {
    line-height: 180%;
    max-width: 600px;
    margin: 0 auto;
  }
}

.aboutImg {
  display: inline !important;
  border-radius: 50%;
  border: 4px solid var(--blue-700);
  max-width: 150px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
}

.skills {
  text-align: center;
}

.visibleSkill {
  visibility: visible;
}

.invisibleSkill {
  visibility: hidden;
}

.skillCard {
  background-color: var(--gray-900);
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 180px;
  border: 1px solid var(--white);
  transition: all 0.2s;
  border-radius: 4px;

  &:hover {
    border-color: var(--blue-700);
    transform: scale(1.1);
  }

  img {
    max-width: 8rem;
    padding: 6px;
  }
}

.techs {
  display: none;
}

.contact {
  svg {
    display: none;
  }

  p {
    text-align: center;
    font-size: 1.4rem;
  }
}

.contactLink {
  display: block;
  margin-top: 1.4rem;

  button {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
  }
}

@media (min-width: 576px) {
  .intro {
    div {
      display: flex;
      gap: 1rem;

      a + a {
        margin-top: unset;
      }
    }
  }

  .slider {
    display: none !important;
  }

  .skillCard {
    width: 100px;
    border: 1px solid var(--white);
  }

  .techs {
    max-width: 620px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem auto;
  }
}

@media (min-width: 992px) {
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .introFigure {
    display: block;
    width: 500px;

    img {
      width: 100%;
    }

    a {
      display: block;
      font-size: 0.5rem;
      text-align: end;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .about {
    margin-left: 2rem;
  }

  .aboutImg {
    display: unset;
    max-width: 500px;
    margin: 2rem;
    position: unset;
    left: unset;
    transform: unset;
  }

  .contact {
    max-width: 600px;
    padding: 2rem 0;
    display: flex;
    gap: 2rem;

    svg {
      display: unset;
    }

    p {
      font-size: 1.4rem;
      max-width: 70%;
    }
  }

  .contactLink {
    all: unset;

    button {
      width: unset;
      margin: unset;
      max-width: unset;
    }
  }
}
