.container {
  padding: 6rem 1.5rem 3rem;
  color: var(--white);
}

.projects {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 2.5rem;
    color: var(--blue-700);
    margin-bottom: 2rem;
  }
}

.projectGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  max-width: 100%;
}

@media (min-width: 576px) {
  .projectGrid {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
