.container {
  background-color: var(--gray-900);
  // max-height: 6rem;
  color: var(--gray-100);
  font-size: 0.8rem;
  padding: 0.8rem 0;
}

.content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 4rem 0;
  gap: 0.4rem;

  span {
    text-align: center;

    svg {
      vertical-align: bottom;
    }
  }
}

@media (min-width: 576px) {
  .content {
    flex-direction: row;
    gap: 1rem;
  }
}
